# 启用CORS
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
Header set Access-Control-Allow-Headers "Content-Type"

# 允许PHP文件执行
AddType application/x-httpd-php .php

# 设置默认字符集
AddDefaultCharset UTF-8

# 防止目录列表
Options -Indexes
